/* Hero section styling */
.hero {
    color: #ffffff;
    padding: 40px 10px; /* Adjusted padding for responsiveness */
    margin-top: 50px;
    text-align: center;
    position: relative;
    display: flex; /* Flex for centering */
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden; /* Keep content within bounds */
    min-height: 50vh; /* Adjust height to fit nicely on screen */
    max-height: 100vh; /* Prevents hero from exceeding full screen height */
    box-sizing: border-box; /* Include padding in element's total width and height */
}

/* Adjust max-width on hero content */
.hero-content {
    position: relative;
    z-index: 1;
    padding: 20px;
    background: rgba(10, 10, 10, 0.3);
    border-radius: 8px; /* Reduced border radius for a subtler curve */
    text-align: center;
    width: 100%;
    max-width: 1200px; /* Limit width for readability */
    box-sizing: border-box;
}

/* Headline adjustments */
.hero h1 {
    font-size: 48px;
    margin-bottom: 20px;
    line-height: 1.2;
    color: #4fb75f;
}

/* Paragraph adjustments */
.hero p {
    font-size: 20px;
    margin-bottom: 30px;
    line-height: 1.5;
    color: #ba4040;
}

/* Hero card styling */
.hero-card {
    background-color: #fff;
    border-radius: 8px; /* Reduced border radius */
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08); /* Lighter shadow for a less pronounced border */
    padding: 20px; /* Slightly reduced padding */
    width: 100%;
    max-width: 1200px; /* Control maximum width for larger screens */
    margin: auto; /* Center the card */
}

/* Hero content headline adjustments */
.hero-content h1 {
    font-size: 36px;
    font-weight: 700;
    color: #FFC107;
    margin-bottom: 20px;
}

/* Hero content paragraph adjustments */
.hero-content p {
    font-size: 18px;
    line-height: 1.8;
    color: #fafafa;
    text-align: justify;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .hero-content h1 {
        font-size: 28px;
    }

    .hero-content p {
        font-size: 16px;
    }

    .hero {
        padding: 20px 15px; /* Reduce padding for smaller screens */
    }
}
